@using SV20T1080003.Web
@model SV20T1080003.DomainModels.Shipper
@{

}

<div class="box box-primary">
    <div class="box box-body">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-warning">
                <p>@ViewBag.ErrorMessage</p>
            </div>
        }
        <form action="~/Admin/Shipper/Save" method="post">
            @Html.HiddenFor(m => m.ShipperID)
            <div class="form-group">
                <label>Tên người giao hàng:</label>
                @Html.TextBoxFor(m => m.ShipperName, new {@class="form-control", @autofocus="autofocus"})
                @Html.ValidationMessageFor(m => m.ShipperName, "", new {@style="color:red"})
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                @Html.TextBoxFor(m => m.Phone, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Phone, "", new {@style="color:red"})
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i> Lưu dữ liệu
            </button>

            <a href="~/Admin/Shipper" class="btn btn-default">Quay lại</a>
        </form>
    </div>
</div>