@model SV20T1080003.DomainModels.Supplier
@{
    ViewBag.Title = "Xóa nhà cung cấp";
}


<div class="box box-danger">
    <div class="box box-body">
        <form action="~/Admin/Supplier/Delete/@Model.SupplierID" method="post">
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                <p class="form-control-static" style="border-bottom: 1px dotted #646464">@Model.SupplierName</p>
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static" style="border-bottom: 1px dotted #646464">@Model.ContactName</p>
            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static" style="border-bottom: 1px dotted #646464">@Model.Address</p>
            </div>

            <div class="form-group">
                <label>Tỉnh thành:</label>
                <p class="form-control-static" style="border-bottom: 1px dotted #646464">@Model.Provice</p>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static" style="border-bottom: 1px dotted #646464">@Model.Phone</p>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static" style="border-bottom: 1px dotted #646464">@Model.Email</p>
            </div>

            <button type="submit" class="btn btn-danger">
                <i class="fa fa-remove"></i> 
                Xóa dữ liệu
            </button>

            <a href="~/Admin/Supplier" class="btn btn-default">Quay lại</a>
        </form>
    </div>
</div>